#options {
	min-width: 250px;
	> form {
		padding: 1rem;
		padding-top: .5em;
		display: grid;
		grid-template-columns: auto 1fr 1rem;
		gap: .5rem 1rem;
		> * {
			display: grid;
			grid-column: span 3;
			grid-template-columns: subgrid;
			position: relative;
		}
	}
	label {
		&::after {
			content: ' :';
		}
	}
	.hint {
		> div {
			background-color: #fff;
			color: #000;
			z-index: 1000;
			right: 1.5rem;
			position: absolute;
			border-radius: .5rem;
			padding: .5rem;
			display: none;
		}
		&:hover > div {
			display: block;
		}
		&::before {
			position: absolute;
			content: '❓\FE0E';
			font-size: .8em;
			top: 0;
			right: 0;
			background-color: black;
			border-radius: 1em;
			width: 1.2em;
			height: 1.2em;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
