#options {
	min-width: 250px;
	overflow-y: auto;
	padding-top: .5rem;
	padding: 1rem;
	position: relative;
	> form {
		align-items: center;
		display: grid;
		gap: 1rem 1rem;
		grid-template-columns: minmax(auto, 8em) 1fr 1rem;
		> * {
			display: contents;
		}
	}
	label {
		&::after {
			content: '\a0:';
		}
	}
	.hint {
		height: 1em;
		position: relative;
		> div {
			background-color: #fff;
			border-radius: .5rem;
			box-shadow: 0 .2rem .2rem #0008;
			color: #000;
			min-width: 15em;
			padding: .5rem;
			position: absolute;
			right: 1.5rem;
			z-index: 1000;
		}
		&:not(:hover) > div {
			display: none;
		}
		&::before {
			position: absolute;
			content: '❓\FE0E';
			font-size: .8em;
			top: 0;
			right: 0;
			background-color: black;
			border-radius: 1em;
			width: 1.2em;
			height: 1.2em;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.close {
		position: absolute;
		top: 0;
		left: 0;
		bottom: .5em;
		border: none;
		border-radius: 1em;
		width: .2em;
		display: flex;
		align-items: center;
		justify-content: start;
		cursor: pointer;
		&::before {
			content: "\25B8\09\25B8\09\25B8";
			border:1px solid white;
			height: 5em;
			width: .5em;
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: 1;
			border-left: none;
			border-radius: 0 .25em .25em 0;
			background-color: inherit;
		}
		&:hover::before {
			background-color: #Fff3;
		}
	}
	&.closed {
		height: 100%;
		position: absolute;
		::before {
			content: '\25C2\09\25C2\09\25C2';
		}
	}
}
